.body{
  font-family: Helvetica, sans-serif;
}

.coolTitle {
  text-align: left;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 1px;
  color: rgb(34, 6, 59);
  text-shadow: 
    -1px -1px 0 rgb(74, 37, 109),
    -2px -2px 0 firebrick,
    -3px -3px 0 rgb(34, 6, 59),
    -4px -4px 0 rgb(34, 6, 59),
    -5px -5px 0 firebrick,
    -6px -6px 0 rgb(34, 6, 59),
    -7px -7px 0 firebrick,
    -8px -8px 0 rgb(34, 6, 59),
    -30px 20px 40px dimgrey;
}

#random {
  size: 50px;
  font-size: 30;
}

li:hover{
  transform: skew(8deg)
}

h3{
  font-size: 12px;
}

.done {
  text-decoration: line-through;
}

button {
  background-color: #5f3dc4;
  color: #eee;
  border:1 solid #5f3dc4;
  border-radius: 10%;
}

.delete {
  width: 1.4em;
  height: 1.4em;
  margin: 10px;
  padding: 0px;
  text-align: center;
  text-justify: center;
  border-radius: 50%;
  font-size: 10px;
}